{:paths ["src/main/clojure"]

 :aliases
 {:repl
  {:jvm-opts ["-Dclojure.server.repl={:port,5555,:accept,clojure.core.server/repl}"]}

  :dev
  {:extra-paths ["src/dev/clojure"]
   :extra-deps
   {org.clojure/clojure {:mvn/version "1.12.3"}
    org.clojure/tools.namespace {:mvn/version "1.5.0"}}}

  :test
  {:extra-paths ["src/test/clojure" "src/test/resources"]}

  ;; Invoke with `clojure -X:test:test-runner`, or `bin/test`.
  :test-runner
  {:extra-deps
   {io.github.cognitect-labs/test-runner
    {:git/sha "3f288f1f16d167723ad87cc35b1dfee3c1681e10"}}

   :exec-fn cognitect.test-runner.api/test
   :exec-args {:dirs ["src/test/clojure"]}}}}
