{:paths ["src/main/clojure" "src/main/resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.10.3"}}

 :aliases
 {:repl
  {:jvm-opts ["-Dclojure.server.repl={:port,5555,:accept,clojure.core.server/repl}"]}

  :dev
  {:extra-paths ["src/dev/clojure" "src/dev/resources"]
   :extra-deps
   {org.clojure/tools.namespace {:mvn/version "1.1.0"}
    djblue/portal {:mvn/version "0.16.2"}}}

  :test
  {:extra-paths ["src/test/clojure" "src/test/resources"]}

  ;; Invoke with `clojure -X:test:test-runner`, or `bin/test`.
  :test-runner
  {:extra-deps
   {io.github.cognitect-labs/test-runner {:git/sha "a85b3b02765fb68684ab9ee4a8598eacf7e471d2"}}

   :exec-fn cognitect.test-runner.api/test
   :exec-args {:dirs ["src/test/clojure"]}}}}
