name: Tests
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'adopt'
          java-version: '25'
      - uses: DeLaGuardo/setup-clojure@master
        with:
          cli: '1.12.3.1577'
      - name: Cache dependencies
        uses: actions/cache@v4.3.0
        with:
          path: ~/.m2
          key: ${{ runner.os }}-deps-${{ hashFiles('**/deps.edn') }}
          restore-keys: ${{ runner.os }}-deps
      - name: Run tests
        run: bin/test
